= render 'competitions/header', competition: @competition, sub: 'Vorlage wählen', resource_class: Presets::Base

.row.g-4
  .col-lg-8
    = simple_form_for(@preset, url: url_for(controller: controller_path, action: :update), as: :preset) do |f|
      = card(@preset.name) do |c|
        - c.body do
          - @preset.params.each do |param|
            %fieldset.group
              = f.input param.name, **param.options
        - c.footer do
          = f.primary_button :submit
          = f.cancel_button(competition_presets_path)
  .col-lg-4
    = card_body do
      %p Egal welche Vorlage du hier auswählst: Du hast später auch noch die Möglichkeit, selber Disziplinen, Wertungsgruppen, Wertungen und Ergebnisse zu ergänzen. Das System lässt dir dabei vollkommen freie Gestaltungsmöglichkeiten.
      %p Wenn du nicht weiterkommst, frage einen der Multiplikatioren.
