- c.body do
  = f.input :name
  = f.input :shortcut, input_html: { maxlength: 8 }
  = f.input :date, html5: true
  = f.input :show_multiple_assessments
  = f.input :hidden
  = f.input :show_best_of_run
  = f.association :results, collection: @competition.score_results.sort, as: :check_boxes
- c.footer do
  = f.primary_button :submit
  = f.cancel_button(competition_score_results_path)
