= render 'competitions/header', competition: @competition, sub: "#{Band.model_name.human}: #{@band.name}"

.row
  .col-md-8
    = card(@band.name, class: 'mb-3') do |card|
      - card.direct do
        %table.table
          %tr
            %th= Band.human_attribute_name(:gender)
            %td= t("gender.#{@band.gender}")
          %tr
            %th= Band.human_attribute_name(:name)
            %td= @band.name
          %tr
            %th= Band.human_attribute_name(:person_tag_names)
            %td
              - if @band.person_tags.present?
                %ul
                  - @band.person_tags.each do |tag|
                    %li= tag
              - else
                &dash;
          %tr
            %th= Band.human_attribute_name(:team_tag_names)
            %td
              - if @band.team_tags.present?
                %ul
                  - @band.team_tags.each do |tag|
                    %li= tag
              - else
                &dash;

    = card(Assessment.model_name.human(count: :many)) do |card|
      - if @band.assessments.exists?
        - card.direct do
          %table.table
            %tr
              %th= Assessment.human_attribute_name(:name)
              %th= Assessment.human_attribute_name(:discipline)
            - @band.assessments.each do |assessment|
              %tr
                %td= link_to assessment.name, competition_assessment_path(id: assessment.id)
                %td
                  = discipline_image assessment.discipline.key
                  = assessment.name
      - else
        - card.body do
          .alert.alert-info= t('a.no_entries_found')

  .col-md-4
    = card(t('a.actions')) do |card|
      = card.primary_actions do |actions|
        = actions.link_to 'Übersicht', { action: :index }, end_icon: :list
      - card.body do
        .d-grid.gap-2
          = btn_link_to 'Bearbeiten', { action: :edit }
          - if @band.destroy_possible?
            = btn_link_to 'Löschen', { action: :destroy }, data: { turbo_method: 'delete', turbo_confirm: 'Wertungsgruppe wirklich löschen?' }
          - else
            .alert.alert-warning
              Diese Wertungsgruppe kann nicht gelöscht werden. Es sind Wertungen zugeordnet.
