= render 'competitions/header', competition: @competition

.row.g-4
  - Band.find_each do |band|
    .col-md-8.col-xl-6
      = card do |card|
        = card.title band.name

        - card.body do
          - if can?(:create, Band.new(competition: @competition)) || @people.exists?(band:)
            - if resource_collection.exists?
              = render('index_table', resource_class:, band:, resource_collection: @people.where(band:))
            - else
              .alert.alert-info= t('a.no_entries_found')

        - if can?(:create, Band.new(competition: @competition))
          = card.primary_actions do |actions|
            = actions.link_to 'Hinzufügen', { action: :new, band_id: band.id }, end_icon: :square_plus

        = card.actions do |actions|
          = actions.link_to 'als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
          = actions.link_to 'als XLS', format: :xlsx
