= render 'competitions/header', competition: @competition, sub: "#{resource_class.model_name.human} hinzufügen"

.row.g-4
  .col-lg-8
    = simple_form_for(@person, url: competition_people_path(return_to: params[:return_to])) do |f|
      = card("#{resource_class.model_name.human} hinzufügen") do |c|
        = render('form', f:, c:)
