= page_title 'Bestätigungs-E-Mail erneut zusenden'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      .card
        .card-body
          = f.error_notification
          = f.full_error :confirmation_token

          .form-inputs
            = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
          .btn-toolbar.mt-3
            = f.button :submit, 'Link zusenden', class: 'btn btn-primary'
  .col-md-4
    = render 'devise/shared/links'
