= render 'devise/header'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = card('Bestätigungs-E-Mail erneut zusenden') do |c|
        - c.body do
          = f.full_error :confirmation_token
          = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        - c.footer do
          = f.primary_button :submit, 'Link zusenden'
  .col-md-4
    = card_body do
      Wenn du die E-Mail nicht findest, schaue bitte auch in deinem Spam-Verzeichnis nach.
