= page_title 'Wettkampf bearbeiten'

.row
  .col-md-8
    = simple_form_for(@competition, url: competition_editing_path) do |f|
      .card
        .card-body
          = f.error_notification

          .form-inputs
            = f.input :name, autofocus: true
            = f.input :date, html5: true
            = f.input :locality
            = f.input :description, input_html: { class: 'easymde-required' }
          .btn-toolbar.mt-3
            = f.button :submit, 'Bearbeiten', class: 'btn btn-primary'
            = link_to 'Abbrechen', competition_show_path, class: 'btn btn-light'


