= render 'devise/header'

= page_title 'Erstellen eines neuen Benutzerkontos'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .card
        .card-body
          = f.error_notification

          .form-inputs
            = f.input :name, autofocus: true, input_html: { autocomplete: 'name' }
            = f.input :email, input_html: { autocomplete: 'email' }
            = f.input :password, required: true, input_html: { autocomplete: 'new-password' }
            = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
          .btn-toolbar.mt-3
            = f.button :submit, class: 'btn btn-primary'
  .col-md-4
    = render 'devise/shared/links'
