= render 'competitions/header', competition: @competition, resource_class: nil

.row.g-4
  .col-lg-6.col-xl-8
    .card
      .card-header
        = page_title(@competition.name)
        %p.lead.mb-0 #{l @competition.date} - #{@competition.place}
      .card-body
        != @competition.description_html
  .col-lg-6.col-xl-4
    .card.text-bg-light
      - unless @competition.visible?
        .card-header.text-bg-warning
          .d-grid.gap-2.col-10.mx-auto
            .text-center
              .far.fa-eye-slash
              Nicht öffentlich sichtbar
            = link_to 'Sichtbarkeit bearbeiten', edit_competition_visibility_path, class: 'btn btn-light btn-sm'
      - if @competition.registration_possible?
        .card-header.text-bg-info
          .d-grid.gap-2.col-10.mx-auto
            .text-center
              .far.fa-id-card
              Anmeldung bis #{l(@competition.registration_open_until)} möglich

            - if @competition.bands.exists? && @competition.disciplines.exists?
              = link_to 'Mannschaft anmelden', new_competition_team_path, class: 'btn btn-light btn-sm'
              - if @competition.disciplines.single_disciplines.exists?
                = link_to 'Einzelstarter anmelden', new_competition_person_path, class: 'btn btn-light btn-sm'

      - if can?(:edit, @competition)
        = render('next_step_card')
      .card-header
        .d-grid.gap-2.col-10.mx-auto
          - if can?(:edit, @competition)
            = link_to 'Bearbeiten', edit_competition_editing_path, class: 'btn btn-light btn-sm'
            = link_to 'Sichtbarkeit bearbeiten', edit_competition_visibility_path, class: 'btn btn-light btn-sm'
            = link_to 'Anmeldungen bearbeiten', edit_competition_registration_path, class: 'btn btn-light btn-sm'
            = link_to 'Dokument hinzufügen', new_competition_document_path, class: 'btn btn-light btn-sm'
            - if simple_access.present?
              = link_to 'Gastzugang beenden', competition_simple_access_login_path, class: 'btn btn-warning btn-sm', data: { turbo_confirm: 'Danach hast du keinen Verwaltungszugriff auf diesen Wettkampf mehr.', 'turbo-method': :delete }

          - elsif @competition.simple_accesses.exists?
            = link_to 'Gastzugang', new_competition_simple_access_login_path, class: 'btn btn-light btn-sm'

          - if can?(:destroy, @competition)
            = link_to 'Löschen', new_competition_deletion_path, class: 'btn btn-danger btn-sm'

          = social_share_button_tag
      .card-body.text-center.p-0.pt-3
        %pre.small= link_to(competition_show_url.gsub(%r{https?://}, ''), competition_show_url)
        = image_tag qrcode(competition_show_url)
        - if can?(:edit, @competition)
          .d-grid.gap-2.col-10.mx-auto.mb-2
            = link_to 'Flyer anzeigen', { format: :pdf }, class: 'btn btn-dark btn-sm', target: '_blank', rel: 'noopener'

- if @competition.documents.exists?
  .row.g-4.mt-2
    .col-md-8.mb-2
      .card
        .card-header Dokumente
        %ul.list-group.list-group-flush
          - @competition.documents.each do |document|
            %li.list-group-item
              - if can?(:manage, document)
                .float-end
                  .btn-group
                    = link_to(edit_competition_document_path(id: document.id), class: 'btn btn-light btn-sm') do
                      .far.fa-edit
                    = link_to(competition_document_path(id: document.id), class: 'btn btn-light btn-sm', data: { turbo_confirm: 'Dokument wirklich entfernen?', 'turbo-method': :delete }) do
                      .far.fa-trash
              = link_to rails_blob_path(document.file, disposition: 'attachment') do
                .row
                  .col-3
                    - if document.file.representable?
                      = image_tag document.file.representation(resize_to_limit: [100, 100])
                  .col-9
                    = document.title
                    .sm= number_to_human_size document.file.byte_size
                    .sm= document.file.filename
                    .sm Stand: #{l document.updated_at}
