= render 'competitions/header', competition: @competition, sub: 'Startliste hinzufügen', resource_class: Score::ListFactory

.row.g-4
  .col-lg-6
    = card('Startliste erstellen - Schritt 1') do |c|
      - c.direct do
        - @factories.each do |factory|
          = simple_form_for [:competition, factory] do |f|
            = f.input :discipline_id, as: :hidden
            = f.input :next_step, as: :hidden, input_html: { value: 'assessments' }
            .card-body.row
              .col-md-5
                = discipline_image factory.discipline.key, size: '40x40'
              .col-md-7
                .d-grid.gap-2
                  = f.primary_button :submit, factory.discipline.name
      - c.footer do
        .form-text.text-muted
          Bitte wähle die Disziplin.

  .col-lg-6
    = card_body('Hinweise') do
      %p Beim Erstellen von Startlisten werden die gewünschten Wertungsgruppen der Mannschaften und Personen beachtet. Durch verschiedene Generatoren kann man zum Beispiel die Reihenfolge vorgeben.
      %p Sobald die Liste generiert ist, kann man die Reihenfolge noch manuell verändern. Es empfiehlt sich deshalb, die Startliste zuerst versteckt zu erzeugen und erst nach einer Kontrolle für die Öffentlichkeit freizugeben.
