- sub ||= nil

= page do |page|
  = page.title @competition.name
  = page.sub_title "#{l competition.date} - #{competition.locality}"
  = page.sub_title2 sub if sub.present?
  = page.tabs do |tabs|
    = tabs.link_to 'Informationen', competition_show_path, active: resource_class.nil?
    - if @competition.bands.exists? && @competition.disciplines.exists?
      = tabs.link_to Team, competition_teams_path
    - if @competition.disciplines.single_disciplines.exists?
      = tabs.link_to Person, competition_people_path
    = tabs.link_to Score::List, competition_score_lists_path, active: resource_class.in?([Score::List, Score::ListFactory, Score::Run])
    - if @competition.bands.exists? && @competition.disciplines.exists?
      = tabs.link_to Score::Result, competition_score_results_path
    - if can?(:manage, @competition)
      = tabs.dropdown 'Erweitert' do |dropdown|
        = dropdown.link_to Discipline, competition_disciplines_path
        = dropdown.link_to Band, competition_bands_path
        = dropdown.link_to Assessment, competition_assessments_path
        = dropdown.link_to Certificates::Template, competition_certificates_templates_path
