= page_title 'Entsperr-E-Mail erneut zusenden'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      .card
        .card-body
          = f.error_notification
          = f.full_error :unlock_token

          .form-inputs
            = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }
          .btn-toolbar.mt-3
            = f.button :submit, 'Zusenden', class: 'btn btn-primary'
  .col-md-4
    = render 'devise/shared/links'
