= render 'competitions/header', competition: @competition, sub: "#{resource_class.model_name.human} aktualisieren"

.row.g-4
  .col-lg-8
    = simple_form_for(resource_instance, url: url_for(controller: controller_path, action: :update)) do |f|
      = card("#{resource_class.model_name.human} aktualisieren") do |c|
        = render('form', f:, c:)
  .col-lg-4
    = render('edit_right')
