= render 'competitions/header', competition: @competition, sub: resource_class.model_name.human(count: :many)

.row.g-4
  .col-md-8
    = card do |card|
      = card.title resource_class.model_name.human(count: :many)

      - card.body do
        - if resource_collection.exists?
          = render('index_table', resource_class:, resource_collection:)
        - else
          .alert.alert-info= t('a.no_entries_found')

      - if can?(:create, resource_class.new(competition: @competition))
        = card.primary_actions do |actions|
          = actions.link_to t('a.add'), { action: :new }, end_icon: :square_plus

      = card.actions do |actions|
        = actions.link_to 'als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
        = actions.link_to 'als XLS', format: :xlsx

    = render('index_bottom', resource_class:, resource_collection:)
  .col-md-4= render('index_right', resource_class:, resource_collection:)
