= render 'competitions/header', competition: @competition, sub: "#{resource_class.model_name.human} hinzufügen"

.row.g-4
  .col-lg-8
    = simple_form_for([:competition, resource_instance]) do |f|
      = card("#{resource_class.model_name.human} hinzufügen") do |c|
        = render('form', f:, c:)
  .col-lg-4
    = render('new_right')
