= link_to("https://feuerwehrsport-statistik.de/teams/#{team.id}", target: '_blank', rel: 'noopener') do
  = image_tag('statistiken-logo.png', class: 'statistiken-logo')
  Informationen auf Feuerwehrsport-Statistik.de über #{team.name}

- if team.team_best_table(gender).present?
  %table.table.table-condensed.table-bordered
    - team.team_best_table(gender).each do |type, parts|
      - first = true
      - parts.each do |short, info|
        %tr
          - if first
            %td{ rowspan: parts.count }
              = discipline_image('la')
              = type.upcase
            - first = false
          %td{ title: short[1] }= short[0]
          %td= info[0]
          %td= info[1]
