= render 'competitions/header', competition: @competition, sub: "Mannschaft: #{@team.full_name}"

.row.g-4
  .col-lg-8
    = card_direct("Mannschaft: #{@team.full_name}", class: 'mb-3') do
      %table.table.table-condensed
        %tr
          %th= Team.human_attribute_name(:name)
          %td= @team.name
        - if can?(:manage, @competition)
          %tr
            %th= Team.human_attribute_name(:certificate_name)
            %td
              .fa-pull-right
                = icon_link_btn('far fa-edit', edit_competition_team_path(id: @team.id, part: 'certificate_name'))
              = @team.real_certificate_name
        %tr
          %th= Team.human_attribute_name(:shortcut)
          %td= @team.shortcut
        %tr
          %th= Team.human_attribute_name(:number)
          %td= @team.number
        %tr
          %th= Team.human_attribute_name(:band)
          %td= @team.band.name
        - unless @team.group_assessment_validator.valid?
          %tr
            %th.bg-warning Mannschaftswertung ungültig
            %td.bg-warning= @team.group_assessment_validator.messages

        - @team.band.team_tags.each do |tag|
          %tr
            %th= tag
            %td= @team.tags.include?(tag) ? 'Ja' : 'Nein'
        %tr
          %td{ colspan: 2 }
            = render('connected', team: @team, remove: false)
        - if can?(:edit, @team)
          - if @team.applicant.present?
            %tr
              %th Angemeldet durch
              %td= @team.applicant.name
          - if @team.registration_hint.present?
            %tr
              %th
                = Team.human_attribute_name(:registration_hint)
                .small.text-muted
                  Diese Hinweise werden nur dir<br/> und dem Verwaltern<br/> des Wettkampfes angezeigt.
              %td= simple_format(@team.registration_hint)

          - @competition.team_markers.each do |team_marker|
            %tr
              %th= team_marker.name
              %td
                .fa-pull-right
                  = icon_link_btn('far fa-edit', edit_competition_team_marker_path(team_id: @team.id, id: team_marker.id, return_to: 'team'))
                = @team.team_marker_values.find_by(team_marker:)&.value

    = card("Gewünschte #{Assessment.model_name.human(count: :many)}", class: 'mb-3') do |c|
      - if can?(:edit, @team)
        - c.primary_actions do |actions|
          - actions.link_to 'Wertungen bearbeiten', { action: :edit_assessment_requests }, end_icon: :edit
      - c.direct do
        %table.table.table-condensed
          - Assessment.requestable_for_team(@team.band).each do |assessment|
            %tr
              %th
                = discipline_image(assessment.discipline.key)
                = assessment.name
              %td
                - if @team.request_for(assessment).present?
                  - if assessment.like_fire_relay?
                    #{@team.request_for(assessment).relay_count} x
                  %i.far.fa-check
                  = t("assessment_types.#{@team.request_for(assessment).assessment_type}")
                - else
                  %i.far.fa-xmark

    - if can?(:edit, @team) && @team.team_list_restrictions.present?
      = card(TeamListRestriction.model_name.human(count: :many), class: 'mb-3') do |c|
        - c.primary_actions do |actions|
          - actions.link_to 'Bedingung hinzufügen', new_competition_team_list_restriction_path(team1_id: @team.id), end_icon: :square_plus
        - c.direct do
          = render('competitions/team_list_restrictions/index_table', resource_collection: @team.team_list_restrictions)

  - if can?(:edit, @team)
    .col-lg-4
      = card(t('a.actions')) do |c|
        - c.primary_actions do |actions|
          - actions.link_to 'Übersicht', { action: :index }, end_icon: :list
        - c.body do
          .d-grid.gap-2
            = btn_link_to 'Wettkämpfer hinzufügen', new_competition_person_path(team: @team, return_to: 'team')
            = btn_link_to 'Name bearbeiten', { action: :edit }
            = btn_link_to 'Anmeldungshinweise bearbeiten', { action: :edit, form: 'registration_hint' }
            = btn_link_to 'Bedingung für Startliste hinzufügen', new_competition_team_list_restriction_path(team1_id: @team.id)
            = btn_link_to 'Löschen', { action: :destroy }, data: { turbo_method: 'delete', turbo_confirm: 'Mannschaft wirklich löschen? Alle Zeiten usw. werden auch gelöscht!' }

  - if can?(:edit, @team) || @team.people.exists?
    .col-lg-12#people-table
      = card(Team.human_attribute_name(:people)) do |c|
        - if can?(:edit, @team)
          - c.primary_actions do |actions|
            - actions.link_to 'Wettkämpfer hinzufügen', new_competition_person_path(team: @team, return_to: 'team'), end_icon: :square_plus
        - if @team.people.exists?
          - c.direct do
            = render('people_table', resource_collection: @team.people)
        - else
          - c.body do
            .alert.alert-info= t('a.no_entries_found')

  - if @team.list_entries.exists?
    .col-lg-12
      = card_direct('Startlisten') do
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th Startliste
              %th Lauf
              %th Bahn
          %tbody
            - @team.list_entries.sort_by { |entry| entry.list.name }.each do |entry|
              - next if entry.list.hidden?

              %tr
                %td= link_to(entry.list.name, competition_score_list_path(id: entry.list.id, jump_to: "jump-run-#{entry.run}"))
                %td= entry.run
                %td= entry.track
