= render 'devise/header'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = card('Passwort ändern') do |c|
        - c.body do
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token

          = f.input :password, required: true, autofocus: true, input_html: { autocomplete: 'new-password' }, label: 'Neues Passwort'
          = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
        - c.footer do
          = f.primary_button :submit, 'Passwort ändern'
  .col-md-4
    = card('Hinweise') do |c|
      - c.body do
        Hier kannst du dir ein neues Passwort geben. Bitte nutze sichere Passwörter und speichere Sie dir im Zweifel ab. Schlecht gespeichert ist besser, als leicht zu erraten.
