= page_title 'Passwort vergessen?'

.row
  .col-md-8
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .card
        .card-body
          = f.error_notification

          .form-inputs
            = f.input :email, autofocus: true, required: true, input_html: { autocomplete: 'email' }
          .btn-toolbar.mt-3
            = f.button :submit, 'Link zum Zurücksetzen zusenden', class: 'btn btn-primary'
  .col-md-4
    = render 'devise/shared/links'
