- card.body do
  = f.input :name, hint: 'Überlicherweise: Frauen oder Männer'
  = f.input :hidden
  = f.input :result_type, as: :radio_buttons, collection: Score::CompetitionResult.result_types.invert
  = f.association :results, as: :check_boxes, collection: @competition.score_results.sort
- card.footer do
  = f.primary_button :submit
  = f.cancel_button(competition_score_competition_results_path)
