- card.body do
  = f.input :key, as: :radio_buttons, collection: Discipline::DISCIPLINES, label_method: ->(l) { discipline_image(l, size: 40) }
  = f.input :name
  = f.input :short_name
  = f.input :single_discipline
  = f.input :like_fire_relay
- card.actions do
  = f.primary_button :submit
  = f.cancel_button(competition_disciplines_path)
