%table.table
  %tr
    %th
    %th= resource_class.human_attribute_name(:name)
    %th= Assessment.model_name.human(count: :many)
    %th
  - resource_collection.each do |discipline|
    %tr
      %td
        - if discipline.single_discipline?
          .far.fa-person
        - else
          .far.fa-people-group
      %td
        = discipline_image(discipline.key)
        = discipline.name
      %td= discipline.assessments.join(', ')
      %td.text-end
        = btn_link_to(t('a.show'), competition_discipline_path(id: discipline.id))
