= page_title "Disziplin: #{@discipline.name}"

.row
  .col-md-8
    = card("Wertungen von #{@discipline.name}") do |card|
      - if @discipline.assessments.exists?
        - card.direct do
          %table.table
            - @discipline.assessments.each do |assessment|
              %tr
                %td= assessment
                %td.text-right
                  = btn_link_to 'Ansehen', assessment
      - else
        - card.body do
          .alert.alert-info Keine Einträge gefunden
  .col-md-4
    = card(t('a.actions')) do |card|
      - card.body do
        .d-grid.gap-2
          = btn_link_to 'Übersicht', { action: :index }
          %hr
          = btn_link_to 'Bearbeiten', { action: :edit }
          - if @discipline.destroy_possible?
            = btn_link_to 'Löschen', { action: :destroy }, data: { turbo_method: 'delete', turbo_confirm: 'Disziplin wirklich löschen?' }
          - else
            .alert.alert-warning
              Diese Disziplin kann nicht gelöscht werden. Es sind Wertungen zugeordnet.
