%h1 Feuerwehrsport - Wettk채mpfe erleben

.row
  .col-lg-6.pb-4
    .card
      .card-header Laufende Wettk채mpfe
      .card-body.small
        - Competition.current.each do |competition|
          .stretched-links-row
            .col-3= link_to(competition.date, competition_path(competition), class: 'stretched-link')
            .col-5= competition.name
            .col-4= competition.locality
  .col-lg-6.pb-4
    .card
      .card-header Kommende Wettk채mpfe
      .card-body.small
        - Competition.upcoming.each do |competition|
          .stretched-links-row
            .col-3= link_to(competition.date, competition_path(competition), class: 'stretched-link')
            .col-5= competition.name
            .col-4= competition.locality
.row
  .col-lg-6.pb-4
    .card
      .card-header Vergangene Wettk채mpfe
      .card-body.small
        - Competition.previous.each do |competition|
          .stretched-links-row
            .col-3= link_to(competition.date, competition_path(competition), class: 'stretched-link')
            .col-5= competition.name
            .col-4= competition.locality
