- content_for :page_header do
  = page_title('Über feusport.de')

.row.g-4
  .col-lg-6
    = render('info_card')
    .mt-4= render('development_card')
  .col-lg-6
    = render('changelog_card')
    .mt-4= render('impressum_card')
