= render 'devise/header'

.row.g-4
  - if params[:info_hint] == 'competition'
    .col-lg-4
      = card_body('Neuen Wettkampf anlegen') do
        Um einen neuen Wettkampf anzulegen, musst du dich auf dieser Seite registrieren. Hast du das schon gemacht, brauchst du dich nur mit deinen Zugangsdaten anzumelden.
    .col-lg-4
      = render('form')
    .col-lg-4
      = render('devise/registrations/form')
  - else
    .col-lg-8
      = render('form')
