= page_title 'Dokument bearbeiten'

.row
  .col-md-8
    = simple_form_for(@document, url: competition_document_path) do |f|
      .card
        .card-body
          = f.error_notification

          .form-inputs
            = f.input :title
            = f.input :file, hint: 'Wenn du eine neue Datei angibst, wird die vorhandene Datei ersetzt.'
          .btn-toolbar.mt-3
            = f.button :submit, 'Hochladen', class: 'btn btn-primary'
  .col-md-4
    %p Hier kannst du zusätzliche Dokumente zu deinem Wettkampf hochladen. Wettkämpfer und Zuschauer interessieren sich bestimmt für die <b>Ausschreibung</b> und den <b>Ablaufplan</b>. Auch ein Flyer sieht immer gut aus.
    %p Du kannst PDFs und Bilder hochladen. Die Datei darf nicht größer als 20 MB sein.
