= card result.name do |card|
  - card.direct do
    %table.table.much-data
      %tr
        %th= Score::Result.human_attribute_name :name
        %td= result.name
      %tr
        %th= Score::Result.human_attribute_name :assessment
        %td= result.assessment.name
      - if result.team_tags_included.present?
        %tr
          %th= Score::Result.human_attribute_name :team_tags_included
          %td= result.team_tags_included.join(', ')
      - if result.team_tags_excluded.present?
        %tr
          %th= Score::Result.human_attribute_name :team_tags_excluded
          %td= result.team_tags_excluded.join(', ')
      - if result.person_tags_included.present?
        %tr
          %th= Score::Result.human_attribute_name :person_tags_included
          %td= result.person_tags_included.join(', ')
      - if result.person_tags_excluded.present?
        %tr
          %th= Score::Result.human_attribute_name :person_tags_excluded
          %td= result.person_tags_excluded.join(', ')

      - if result.is_a? Score::DoubleEventResult
        %tr
          %th= Score::Result.human_attribute_name :results
          %td
            %table.table.table-condensed
              - result.results.each do |result|
                %tr
                  %td= link_to result, competition_score_result_path(result)
      - else
        %tr
          %th= Score::Result.human_attribute_name :group_assessment
          %td
            - if result.group_assessment?
              Ja
              - if result.discipline.single_discipline?
                (#{result.group_score_count} von #{result.group_run_count})
            - else
              Nein
      %tr
        %th= Score::Result.human_attribute_name :lists
        %td
          - if result.lists.exists?
            %table.table.table-condensed
              - result.lists.each do |list|
                %tr
                  %td= link_to(list.name, competition_score_list_path(id: list.id))
          - else
            %em Noch keine Einträge

      - unless result.calculation_method == 'default'
        %tr
          %th= Score::Result.human_attribute_name :calculation_method
          %td= t("score_calculation_methods.#{result.calculation_method}")

      - if result.series_assessments.exists?
        %tr
          %th Cup-Serie
          %td
            %ul
              - result.series_assessments.each do |assessment|
                %li
                  - if assessment.is_a?(Series::TeamAssessment)
                    = link_to("Mannschaftswertung: #{assessment.to_label}", series_round_path(assessment.round))
                  - else
                    = link_to(assessment.to_label, series_assessment_path(assessment))

  - card.actions do |actions|
    - if result.group_assessment? && result.discipline.single_discipline?
      = actions.link_to 'Mannschaftswertung als PDF', { format: :pdf, only: :group_assessment }, target: '_blank', rel: 'noopener'
      = actions.link_to 'Einzelwertung als PDF', { format: :pdf, only: :single_competitors }, target: '_blank', rel: 'noopener'
      = actions.link_to 'Komplett als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
    - else
      = actions.link_to 'als PDF', { format: :pdf }, target: '_blank', rel: 'noopener'
    = actions.link_to 'als XLS', format: :xlsx
    - if @competition.certificates_templates.exists?
      = actions.link_to 'als Urkunden', new_competition_certificates_list_path(score_result_id: @result.id)
