%table.table.table-bordered
  %tr
    - if places
      %th
    %th Mannschaft
    %th Bestzeit
    - @result.lists.each do |list|
      - if list.separate_target_times?
        %th{ colspan: 2 }= list.shortcut
      - else
        %th= list.shortcut

  - rows.each do |row|
    %tr
      - if places
        %td.less-important #{@result.place_for_row(row)}.
      %td
        = row.entity.full_name
        = team_badge(row.entity&.fire_sport_statistics_team, row.entity.band.gender)
      %td
        %strong= row.best_result_entry.human_time
      - @result.lists.each do |list|
        - if list.separate_target_times?
          %td.separate-times
            = row.result_entry_from(list)&.human_time_left_target
            %br
            = row.result_entry_from(list)&.human_time_right_target
          %td
            = row.result_entry_from(list)&.human_time
        - else
          %td.less-important= row.result_entry_from(list)&.human_time
