= render 'competitions/header', competition: @competition, resource_class: nil

.row.g-4
  .col-md-8
    = simple_form_for(@deletion, url: competition_deletion_path) do |f|
      = card('Wettkampf löschen') do |c|
        - c.direct do
          .card-body.text-bg-warning
            Du willst diesen Wettkampf löschen. Das heißt, dass zugeordneten Anmeldungen, Startlisten und Ergebnisse auch gelöscht werden. Bist du dir sicher?
            = f.input :confirm, autofocus: true, as: :boolean, label: 'Ich will alle gesammelten Daten zu diesem Wettkampf löschen.'
        - c.footer do
          = f.button :submit, 'Löschen', class: 'btn-danger'
          = link_to 'Abbrechen', competition_show_path, class: 'btn btn-light'
