- card.body do
  = f.input :name, hint: 'Interner Name'
  = f.input :image, as: :file, hint: ['Hintergrundbild zur Orientierung', @template.image_hint].compact_blank.join('; ')
  = f.input :font, as: :file, hint: ['Schriftart für variable Texte', @template.font_hint].compact_blank.join('; ')
  = f.input :font2, as: :file, hint: ['Zweite Schriftart für variable Texte', @template.font2_hint].compact_blank.join('; ')
- card.footer do
  = f.primary_button :submit
  = f.cancel_button(competition_certificates_template_path(id: @template.id))
