- if @template.font.attached?
  = render 'font_style', type: :regular, font: @template.font
- if @template.font2.attached?
  = render 'font_style', type: :bold, font: @template.font2

= simple_form_for(@template, url: url_for(controller: controller_path, action: :update)) do |f|
  = card("Urkundenvorlage: #{@template.name}", title: true) do |card|
    - card.direct do
      .row
        .col-md-10
          #certificates-template-position{ data: { font_family_regular: @template.font.attached? ? "certificates_template_#{@template.id}_regular" : '', font_family_bold: @template.font2.attached? ? "certificates_template_#{@template.id}_bold" : '', background: @template.image.attached? ? rails_blob_path(@template.image) : '', config: Certificates::TextField::KEY_CONFIG.to_json } }

        .col-md-2#position-buttons
          .btn.btn-default.btn-sm#add-new-field Feld hinzufügen
          #field-tables

      - @template.text_fields.each do |text_field|
        = f.simple_fields_for(:text_fields, text_field) do |tf|
          = tf.input :left, as: :hidden
          = tf.input :top, as: :hidden
          = tf.input :width, as: :hidden
          = tf.input :height, as: :hidden
          = tf.input :size, as: :hidden
          = tf.input :key, as: :hidden
          = tf.input :align, as: :hidden
          = tf.input :text, as: :hidden
          = tf.input :font, as: :hidden
          = tf.input :color, as: :hidden
          = tf.input :id, as: :hidden
          = tf.input :_destroy, as: :hidden, input_html: { value: tf.object.persisted? ? 'false' : 'true' }
      -# .new-position-form
      -#   .modal.fade
      -#     .modal-header
      -#       %button.close{ type: :button, data: { dismiss: :modal }, 'aria-hidden' => true } ×
      -#     .modal-body
      -#       = simple_form_for Certificates::TextField.new, url: '' do |tf|
      -#         = box 'Textposition' do |box|
      -#           = tf.input :key, as: :select, collection: Certificates::TextField::KEY_CONFIG.map { |k, v| ["#{v[:description]} (z.B.: #{v[:example]})", k] }
      -#           = tf.input :text
      -#           - box.footer do
      -#             = tf.primary_button :submit, 'Speichern'
      - card.footer do
        = f.primary_button :submit
        = f.cancel_button(competition_certificates_templates_path)

.modal{ tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title Modal title
        %button.btn-close{ 'aria-label' => 'Close', 'data-bs-dismiss' => 'modal', type: 'button' }
      .modal-body
        %p Modal body text goes here.
      .modal-footer
        %button.btn.btn-secondary{ 'data-bs-dismiss' => 'modal', type: 'button' } Close
        %button.btn.btn-primary{ type: 'button' } Save changes


%table.information-table#information-table-template
  %tbody
    %tr
      %th.key.text-center{ colspan: '4' }
    %tr.size-value
      %td.text-center
        .btn.btn-light.less-less --
        .btn.btn-light.less -
      %th Schrift
      %td.value
      %td.text-center
        .btn.btn-light.more +
        .btn.btn-light.more-more ++
    %tr.left-value
      %td.text-center
        .btn.btn-light.less-less --
        .btn.btn-light.less -
      %th Links
      %td.value
      %td.text-center
        .btn.btn-light.more +
        .btn.btn-light.more-more ++
    %tr.top-value
      %td.text-center
        .btn.btn-light.less-less --
        .btn.btn-light.less -
      %th Oben
      %td.value
      %td.text-center
        .btn.btn-light.more +
        .btn.btn-light.more-more ++
    %tr.width-value
      %td.text-center
        .btn.btn-light.less-less --
        .btn.btn-light.less -
      %th Weite
      %td.value
      %td.text-center
        .btn.btn-light.more +
        .btn.btn-light.more-more ++
    %tr.height-value
      %td.text-center
        .btn.btn-light.less-less --
        .btn.btn-light.less -
      %th Höhe
      %td.value
      %td.text-center
        .btn.btn-light.more +
        .btn.btn-light.more-more ++
    %tr
      %td
      %th Text
      %td.text-center{ colspan: '2' }
        .btn.btn-light.fa-regular.fa-align-left
        .btn.btn-light.fa-regular.fa-align-center
        .btn.btn-light.fa-regular.fa-align-right
    %tr
      %td
      %th Schrift
      %td.text-center{ colspan: '2' }
        .btn.btn-light.fa-regular.fa-font.font-regular
        .btn.btn-light.fa-regular.fa-font.font-bold
    %tr
      %td
      %th Farbe
      %td.text-center{ colspan: '2' }
        %input{ type: 'color', value: '#000000' }
    %tr
      %td.text-center{ colspan: '4' }
        .btn.btn-light.centering
          .fa-regular.fa-left-right
          Element zentrieren
