%a.navbar-brand{ href: root_path, title: 'Startseite' }
  = render inline: Rails.root.join('app/assets/images/logo.svg').read
%button.navbar-toggler{ 'aria-controls' => 'navbar-supported-content', 'aria-expanded' => 'false', 'aria-label' => 'Menü anzeigen', 'data-bs-target' => '#navbar-supported-content', 'data-bs-toggle' => 'collapse', type: 'button' }
  %span.navbar-toggler-icon
.collapse.navbar-collapse#navbar-supported-content
  %ul.navbar-nav.me-auto.mb-2.mb-lg-0
    %li.nav-item
      = active_link_to('Wettkampf anlegen', new_competitions_creations_path, class: 'nav-link')
    - if can?(:visit, :disseminator)
      %li.nav-item
        = active_link_to('Multiplikatoren', disseminators_path, class: 'nav-link')
    %li.nav-item
      = active_link_to('Über feusport.de', info_path, class: 'nav-link')
    - if user_signed_in?
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'data-bs-toggle' => 'dropdown', href: '#', role: 'button' }
          Benutzer
        %ul.dropdown-menu
          %li
            = active_link_to('Bearbeiten', edit_user_registration_path, class: 'dropdown-item')
          %li
            %hr.dropdown-divider/
          %li
            = active_link_to('Abmelden', destroy_user_session_path, data: { 'turbo-method': :delete }, class: 'dropdown-item')
    - else
      %li.nav-item
        = active_link_to('Anmelden', new_user_session_path, class: 'nav-link')
