%a.navbar-brand{ href: root_path, title: 'Startseite' }
  = image_tag 'logo.png'
%button.navbar-toggler{ 'aria-controls' => 'navbar-supported-content', 'aria-expanded' => 'false', 'aria-label' => 'Menü anzeigen', 'data-bs-target' => '#navbar-supported-content', 'data-bs-toggle' => 'collapse', type: 'button' }
  %span.navbar-toggler-icon
.collapse.navbar-collapse#navbar-supported-content
  - if competition_nested?
    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
      %li.nav-item
        = active_link_to(competition_show_path, class: 'nav-link') do
          = @competition.name
          .small #{l(@competition.date)} - #{@competition.locality}
    - if can?(:manage, @competition)
      %ul.navbar-nav.me-end.mb-2.mb-lg-0
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbar-dropdown-menu-link{ href: '#', role: 'button', 'data-bs-toggle' => 'dropdown', 'aria-expanded' => 'false' }
            .far.fa-wrench

          %ul.dropdown-menu{ 'aria-labelledby' => 'navbar-dropdown-menu-link' }
            %li
              = active_link_to(Discipline.model_name.human(count: :many), competition_disciplines_path, class: 'dropdown-item')
            %li
              = active_link_to(Band.model_name.human(count: :many), competition_bands_path, class: 'dropdown-item')
            %li
              = active_link_to(Assessment.model_name.human(count: :many), competition_assessments_path, class: 'dropdown-item')
  - else
    %ul.navbar-nav.me-auto.mb-2.mb-lg-0
      %li.nav-item
        = active_link_to('Wettkampf anlegen', new_competition_path, class: 'nav-link')
      %li.nav-item
        = active_link_to('Über feusport.de', info_path, class: 'nav-link')
      - if user_signed_in?
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{ 'aria-expanded' => 'false', 'data-bs-toggle' => 'dropdown', href: '#', role: 'button' }
            Benutzer
          %ul.dropdown-menu
            %li
              = active_link_to('Bearbeiten', edit_user_registration_path, class: 'dropdown-item')
            %li
              %hr.dropdown-divider/
            %li
              = active_link_to('Abmelden', destroy_user_session_path, data: { 'turbo-method': :delete }, class: 'dropdown-item')
      - else
        %li.nav-item
          = active_link_to('Anmelden', new_user_session_path, class: 'nav-link')
