- card.body do
  = f.association :discipline, collection: @competition.disciplines
  = f.association :band, collection: @competition.bands
  = f.input :name
- card.actions do
  = f.primary_button :submit
  = f.cancel_button(competition_bands_path)
