- card.body do
  = f.association :discipline, collection: @competition.disciplines
  = f.association :band, collection: @competition.bands
  = f.input :forced_name
- card.footer do
  = f.primary_button :submit
  = f.cancel_button(competition_assessments_path)
