= render 'competitions/header', competition: @competition, sub: "#{Assessment.model_name.human}: #{@assessment.name}"

.row.g-4
  .col-lg-8
    = card_direct(@assessment.name, class: 'mb-3') do
      %table.table
        %tr
          %th= Assessment.human_attribute_name(:name)
          %td= @assessment.name
        %tr
          %th= Assessment.human_attribute_name(:discipline)
          %td= @assessment.discipline.name
        %tr
          %th= Assessment.human_attribute_name(:band)
          %td= link_to(@assessment.band.name, competition_band_path(id: @assessment.band.id))

  .col-lg-4
    = card(t('a.actions')) do |c|
      - c.primary_actions do |actions|
        - actions.link_to 'Übersicht', { action: :index }, end_icon: :list
      - c.body do
        .d-grid.gap-2
          = btn_link_to 'Bearbeiten', { action: :edit }
          - if @assessment.destroy_possible?
            = btn_link_to 'Löschen', { action: :destroy }, data: { turbo_method: 'delete', turbo_confirm: 'Wertungsgruppe wirklich löschen?' }
          - else
            .alert.alert-warning
              Diese Wertung kann nicht gelöscht werden. Es sind Ergebnisse zugeordnet.
