!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "#{@page_title} ".strip + ' - Feuerwehrsport'
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %nav.navbar.navbar-expand-lg.bg-light.shadow-sm
      .container
        = render 'nav_menu'
    .container.mt-3
      .alert-flash
        - flash.each do |name, msg|
          - msg = t("alerts.#{msg}", default: msg)
          - if name == 'alert'
            .alert.alert-danger= msg
          - else
            .alert.alert-info= msg
    .mt-3.container= yield
